.Rproj.user
.Rhistory
.RData
.Ruserdata
comments
multibib.lua.txt
section-bibliographies.lua.txt
thesis.pdf
Arias, Daniel - MIP Thesis.pdf
Arias,-Daniel---Thesis---2023.03.10.Rmd
Arias,-Daniel---Thesis---2023.03.10.log
Arias,-Daniel---Thesis---2023.03.10.pdf
Arias,-Daniel---Thesis---2023.03.10_files
Arias,-Daniel---Thesis---2023.04.23.Rmd
Figure_1.png
Figure_10.jpg
Figure_11.jpg
Figure_12.jpg
Figure_13.jpg
Figure_14.jpg
Figure_15.jpg
Figure_16.jpg
Figure_17.jpg
Figure_18.jpg
Figure_19.jpg
Figure_20.jpg
Figure_21.jpg
Figure_22.jpg
Figure_23.jpg
Figure_24.jpg
Figure_2_estimate_1.jpg
Figure_2_estimate_2.jpg
Figure_2_estimate_4.jpg
Figure_3_DALY.png
Figure_3_YLD.png
Figure_3_YLL.png
Figure_3_deaths.png
Figure_4.png
Figure_5.jpg
Figure_6a.jpg
Figure_6b.jpg
Figure_7.jpg
Figure_8.jpg
Figure_9.jpg
frontmatter_mip.Rmd
mip_table_1.png
mip_table_1.pptx
mip_table_s_1_1.png
mip_table_s_1_1.pptx
mip_thesis.Rmd
mip_thesis.log
thesis_final_version.log
thesis_final_version.pdf
thesis_fulldraft_nofigures.docx
~$esis_fulldraft_nofigures.docx
